*{
    background-image: url(images/Firefox\ 3_28_2025\ 11_12_26\ AM.png);
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:auto;
    background: linear-gradient(135deg, #6a11cb, #2575fc, );

     
}

.div-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 1px rgb(27, 26, 26);
}

input {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    border: none;
    font-size: 1rem;
    color: hsla(0, 0%, 0%, 0.635);
    
}
label {
    border: none;
    font-weight: 4rem;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor:pointer;
}
button:hover {
    background-color: #275fa0;
}

.gone {
    display: none;
    color: rgb(192, 22, 25);
    font-size: 0.75rem;
}
#submit{
    font-size: 1.2rem;
}